---
---

@import "{{ site.theme }}";
.page-header {
  background-color: #155799;
  background-image: linear-gradient(120deg, #155799, #155799);
}
header img {
  float: left;
  width:150px;
  height:150px;
}
footer {
  display: none;
}

